!!!
html
  head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/jquery-1.6.2.min.js')
    script(src='/js/jquery-ui-1.8.16.custom.min.js')
    script(src='/js/ucalumni.js')
  body!= body